<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - EJS Website</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">LOGO</div>
      <nav>
        <menu>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/todos">To Dos</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/contact-us">Contact Us</a>
          </li>
        </menu>
      </nav>
    </header>